<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>College List</h1>
    <p>lorem ipsum dolor sit amet, consectetur adip</p>
    
    <a href="/">Home</a>
    <a href="/books">Book</a>
    <a href="/books/add">Add Book</a>
    
    <h2>Ini add Book page</h2>
    <form action="/books/add" method="post">
        <input type="text" name="title" id="title" placeholder="title">
        <input type="text" name="author" id="author" placeholder="author">
        <input type="date" name="released_date" id="released_date" placeholder="released_date">
        <input type="number" name="page" id="page" placeholder="page">
        <input type="text" name="genre" id="genre" placeholder="genre">
        <input type="submit" value="Submit">
    </form>
</body>
</html>