<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore-file</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Book List</h1>
    <p>lorem ipsum dolor sit amet, consectetur adip</p>
    
    <a href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/books/add">Add Book</a>
    
    <h2>Book's details</h2>
    <!-- <%= students %> -->
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Realeased_date</th>
                <th>Page</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= book.id %></td>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td><%= book.released_date %></td>
                    <td><%= book.page %></td>
                    <td><%= book.genre %></td>
                    <td><a href="books/delete/ <%= book.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>