<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pirates</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }

        table {
            width: 500px;
        }

        th,
        td {
            padding: 10px;
        }

        thead {
            background: lightblue;
        }
    </style>
</head>

<body>
    <h1>Add Pirates</h1>
    <p>Please add the pirate and it's attribute here</p>

    <form action="/pirates/add" method="post">
        <input type="text" name="name" id="name" placeholder="name">
   
        <input list="status" name="status">
        <datalist id="status">
            <option value="Captain">
            <option value="Nakama">
        </datalist>

        <input list="haki" name="haki">
        <datalist id="haki">
            <option value="Awakening">
            <option value="Standard">
        </datalist>
   
        <!-- <input type="number" name="haki" id="haki" placeholder="haki"> -->
       
        <input type="submit" value="Submit">
    </form>
</body>

</html>
