<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ships</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }

        table {
            width: 500px;
        }

        th,
        td {
            padding: 10px;
        }

        thead {
            background: lightblue;
        }
    </style>
</head>

<body>
    <h1>Add Ships</h1>
    <p>Please add the ship and it's attribute here</p>

    <form action="/ships/add" method="post">
        <input type="text" name="name" id="name" placeholder="name">
   
        <input list="type" name="type">
        <datalist id="type">
            <option value="Caravel">
            <option value="Galeon">
        </datalist>
   
        <input type="number" name="power" id="power" placeholder="power">
       
        <input type="submit" value="Submit">
    </form>
</body>

</html>
