<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>code-challenge</title>
</head>
<body>
   <h1>This is Home page</h1>
   <h4>please visit the links below:</h4>
   <ul>
      <li><a href="/ships">Ships</a></li>
      <li><a href="/pirates">Pirates</a></li>
   </ul>
</body>
</html>
