<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirates-list</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Pirates List</h1>
    
    <h2>Here is the list of our pirates :</h2>
    
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>name</th>
                <th>status</th>
                <th>haki</th>
            </tr>
        </thead>
        <tbody>
            <% pirates.forEach(pirate => { %>
                <tr>
                    <td><%= pirate.name %></td>
                    <td><%= pirate.status %></td>
                    <td><%= pirate.haki %></td>
                    <td><a href="pirates/delete/ <%= pirates.id %>">Delete pirates</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
