<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ships-list</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Ships List</h1>
    
    <h2>Here is the list of our ships :</h2>
    
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>name</th>
                <th>type</th>
                <th>power</th>
            </tr>
        </thead>
        <tbody>
            <% ships.forEach(ship => { %>
                <tr>
                    <td><%= ship.name %></td>
                    <td><%= ship.type %></td>
                    <td><%= ship.power %></td>
                    <td><a href="ships/delete/ <%= ships.id %>">Delete ship</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
